@use '../../../styles/utils';

.body {
	--padding-x: 16px;
	--width-icon: 20px;

	position: relative;
	color: rgb(var(--color-text-primary-light));
}

.select {
	--background-color: rgb(var(--color-background-primary-light));

	@include utils.base-animation(background-color);

	width: 100%;
	min-height: 48px;
	padding-left: var(--padding-x);
	padding-right: calc(var(--width-icon) + (var(--padding-x) * 1.5));
	border-radius: 8px;
	font-size: 16px;
	border: 1px solid rgb(var(--color-border-primary));
	background-color: var(--background-color);
	outline: none;
	appearance: none;

	&:focus {
		--background-color: rgb(var(--color-background-tertiary));
	}
}

.icon {
	position: absolute;
	top: 50%;
	right: var(--padding-x);
	translate: 0 -50%;
	display: flex;
	font-size: var(--width-icon);
}
