@use '../../../styles/utils';

.head {
	margin-bottom: 32px;

	&_center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&_medium {
		max-width: 768px;
	}

	&_large {
		margin-bottom: 40px;
	}
}

.subtitle {
	margin-bottom: 12px;
	line-height: 1.5;
	font-weight: 600;
	color: rgb(var(--color-accent));
}

.description {
	margin-top: 24px;
	font-size: 20px;
	line-height: 1.5;

	@include utils.tablet-m {
		font-size: 18px;
		margin-top: 22px;
	}
}
