.head {
	margin-bottom: 32px;

	&_medium {
		max-width: 768px;
	}
}

.subtitle {
	margin-bottom: 12px;
	line-height: 1.5;
	font-weight: 600;
	color: rgb(var(--color-accent));
}

.description {
	margin-top: 24px;
	font-size: 20px;
	line-height: 1.5;
}
