@use '@styles/utils';

.switch {
	--icons-size: 24px;
	--background-color: rgb(var(--color-background-primary-dark));

	padding: 8px 16px;
	border-radius: 30px;
	color: rgb(var(--color-background-primary));
	background-color: var(--background-color);

	&[aria-checked='true'] {
		--background-color: rgb(var(--color-background-primary-light));
	}
}

.icons {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 16px;
	font-size: var(--icons-size);
}

.icon {
	position: relative;
	z-index: 0;
	display: flex;
}

.cursor {
	@include utils.long-animation(right);
	@include utils.square(var(--icons-size));

	position: absolute;
	top: 0;
	right: 0;
	background-color: currentcolor;
	border-radius: 50%;
	z-index: 100;
}

.switch[aria-checked='false'] .cursor {
	right: calc(100% - var(--icons-size));
}
