@use '../../../styles/utils';

.switch {
	--icons-size: 24px;

	padding: 8px 16px;
	border-radius: 30px;
	color: rgb(var(--color-background-primary));
	background-color: rgb(var(--color-background-primary-other-theme));
}

.icons {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 16px;
	font-size: var(--icons-size);
}

.icon {
	position: relative;
	z-index: 0;
	display: flex;
}

.cursor {
	@include utils.long-animation(right);
	@include utils.square(var(--icons-size));

	position: absolute;
	top: 0;
	right: 0;
	background-color: currentcolor;
	border-radius: 50%;
	z-index: 100;
}

.switch[aria-checked='true'] .cursor {
	right: calc(100% - var(--icons-size));
}
