@use '@styles/utils';

.link {
	text-decoration: none;
	text-decoration-skip-ink: none;

	@include utils.hover {
		text-decoration: underline;
	}

	&_underline {
		text-decoration: underline;

		@include utils.hover {
			text-decoration: none;
		}
	}
}
