@use '@styles/utils';

.about {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px 30px;
	flex-wrap: wrap;
	margin-bottom: 32px;

	@include utils.mobile-l {
		flex-direction: column;
		margin-bottom: 30px;
	}
}

.author {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 0.3em;
}

.title {
	margin-bottom: 32px;

	@include utils.mobile-l {
		margin-bottom: 30px;
	}
}

.image {
	margin-bottom: 32px;
}

.body {
	line-height: 1.5;
}

.tags {
	margin-top: 24px;
}
