@use '../../styles/utils';

.body {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.image {
	@include utils.tablet-m {
		aspect-ratio: 1.7;
	}

	&-img {
		background-color: rgb(var(--color-background-secondary));

		@include utils.tablet-m {
			height: 100%;
			object-fit: cover;
		}
	}

	&-skeleton {
		height: 556px;

		@include utils.tablet-m {
			height: 100%;
		}
	}
}

.title {
	margin-bottom: 12px;
}
