@use '@styles/utils';

.heading {
	overflow: hidden;
	padding: 20px 0;

	@include utils.tablet-l {
		padding: 30px 0;
	}

	@include utils.mobile-l {
		padding: 20px 0;
	}
}

.title {
	font-weight: 700;

	&-inner {
		display: block;
		border-top: 1px solid rgba(var(--color-border-tertiary));
		border-bottom: 1px solid rgba(var(--color-border-tertiary));

		@include utils.tablet-l {
			margin: 0 calc(var(--container-padding-x) * -1);
			padding: 0 14px;
		}

		&[data-initialized='false'] {
			visibility: hidden;
		}
	}

	&-body {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
	}

	&-text {
		display: inline-block;
		line-height: 1.205;
		white-space: nowrap;
		text-align: center;
	}

	&-skeleton {
		display: block;
		width: 100%;
		font-size: 224px;

		@include utils.tablet-l {
			font-size: 160px;
		}

		@include utils.mobile-l {
			font-size: 72px;
		}
	}
}
