@use '../../../styles/utils';
@use '../../../styles/shared/modal';

.body-open {
	overflow: hidden;
}

.body {
	position: relative;
}

.overlay {
	@include utils.flex-center;
	@include modal.fade-animation;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	overflow: auto;
	background-color: rgba(var(--color-contrast-primary), 0.5);
	opacity: 0;
	transition: opacity 0.3s ease-out;
	will-change: opacity;

	&_after-open {
		@include modal.fade-animation-open;
	}

	&_before-close {
		@include modal.fade-animation-close;
	}

	&_full {
		.body {
			width: 100%;
			height: 100%;
			background-color: rgb(var(--color-background-primary));
			padding: 0 var(--container-padding-x);
			overflow: auto;
		}
	}

	&_popup {
		padding: 30px var(--container-padding-x);

		@include utils.mobile-l {
			padding: 0;
		}

		.body {
			width: 100%;
			max-width: 600px;
			margin: auto;
			padding: 60px 20px 50px;
			border-radius: 12px;
			background-color: rgb(var(--color-background-primary));

			@include utils.mobile-l {
				padding: 80px var(--container-padding-x) 55px;
				border-radius: 0;
			}
		}
	}
}

.close {
	position: absolute;
	top: 8px;
	right: 10px;

	@include utils.mobile-l {
		right: 6px;
	}
}

.title {
	text-align: center;
	margin-bottom: 30px;
}
