@use '../../styles/utils';

.image {
	width: 100%;
	max-width: 100%;
	aspect-ratio: 384 / 240;
	margin-bottom: 32px;

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: rgb(var(--color-background-secondary));
	}
}

.about {
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.42;
	color: rgb(var(--color-accent));
}

.title {
	margin-bottom: 12px;

	&-link {
		@include utils.base-animation(color);

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		column-gap: 20px;

		@include utils.hover {
			.title-text {
				text-decoration: underline;
			}
		}
	}

	&-icon {
		@include utils.flex-center(true);

		margin: 4px 0;
		font-size: 24px;
	}
}

.description {
	font-size: 16px;
	line-height: 1.5;
	color: rgb(var(--color-text-secondary));
}

.tags {
	margin-top: 24px;
}
