@use '@styles/shared/spinner';
@use '@styles/utils';

.wrapper {
	width: 100%;
}

.field-wrapper {
	--padding-x: 16px;
	--width-icon: 22px;

	position: relative;
	color: rgb(var(--color-text-primary-light));
}

.field {
	--background-color: rgb(var(--color-background-primary-light));

	@include utils.base-animation(background-color);

	width: 100%;
	min-height: 48px;
	padding: 0 16px;
	border-radius: 8px;
	border: 1px solid rgb(var(--color-border-primary));
	background-color: var(--background-color);
	font-size: 16px;
	outline: none;

	&::placeholder {
		color: rgb(var(--color-text-secondary-light));
	}

	&:focus {
		--background-color: rgb(var(--color-background-tertiary));
	}

	&[type='search']::-webkit-search-decoration,
	&[type='search']::-webkit-search-cancel-button,
	&[type='search']::-webkit-search-results-button,
	&[type='search']::-webkit-search-results-decoration {
		display: none;
	}

	&[aria-invalid='true'] {
		--border-color: rgb(var(--color-error));
	}

	&_icon {
		padding-right: calc(var(--width-icon) + (var(--padding-x) * 2));
	}
}

.icon {
	position: absolute;
	top: 50%;
	right: var(--padding-x);
	translate: 0 -50%;
	display: flex;
	font-size: var(--width-icon);
	pointer-events: none;
}

.spinner {
	@include spinner.base(18px);
}
