@use '@styles/utils';
@use '@styles/shared/modal';

.overlay {
	@include modal.fade-animation;

	position: fixed;
	right: 0;
	bottom: 20px;
	padding: 0 20px;
	z-index: 1000;
	width: 100%;
	max-width: 570px;

	@include utils.tablet-l {
		padding: 0 15px;
		bottom: 15px;
	}

	&_after-open {
		@include modal.fade-animation-open;
	}

	&_before-close {
		@include modal.fade-animation-close;
	}
}

.body {
	position: relative;
	padding: 20px;
	border-radius: 16px;
	background-color: rgb(var(--color-background-primary));
	border: 1px solid rgb(var(--color-border-primary));

	@include utils.mobile-m {
		padding: 15px;
	}
}

.close {
	position: absolute;
	top: 4px;
	right: 4px;
}

.title {
	margin-bottom: 12px;
}

.bottom {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 16px 30px;

	@include utils.mobile-m {
		align-items: flex-start;
		flex-direction: column;
	}
}

.description {
	max-width: 400px;
	line-height: 1.5;

	@include utils.mobile-m {
		max-width: initial;
	}
}
