@use '@styles/utils';

.overlay {
	right: 0;
	bottom: 20px;
	padding: 0 20px;
	width: 100%;
	max-width: 570px;

	@include utils.tablet-l {
		padding: 0 15px;
		bottom: 15px;
	}
}

.body {
	--border-color: rgb(var(--color-border-primary));

	position: relative;
	padding: 20px;
	border-radius: 16px;
	background-color: rgb(var(--color-background-primary));
	border: 1px solid var(--border-color);

	@include utils.mobile-m {
		padding: 15px;
	}
}

[data-theme='dark'] {
	.body {
		--border-color: rgb(var(--color-border-secondary));
	}
}

.close {
	position: absolute;
	top: 4px;
	right: 4px;
}

.title {
	margin-bottom: 12px;
}

.bottom {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 16px 30px;

	@include utils.mobile-m {
		align-items: flex-start;
		flex-direction: column;
	}
}

.description {
	max-width: 400px;
	line-height: 1.5;

	@include utils.mobile-m {
		max-width: initial;
	}
}
