@use '../../../styles/utils';

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 8px;
	max-width: 494px;
	width: 100%;
	margin: 0 auto;

	@include utils.mobile-m {
		row-gap: 10px;
	}
}

.body {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	width: 100%;

	@include utils.mobile-m {
		flex-direction: column;
	}
}

.policy {
	font-size: 14px;
	line-height: 1.42;
	text-align: center;
}
