@use '../../styles/utils';

.header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	z-index: 1000;
	padding: 15px var(--container-padding-x);
	background-color: rgb(var(--color-background-primary));
	height: var(--header-height);
}

.body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 40px;
}

.panel {
	display: flex;
	align-items: center;
	gap: 14px;

	@include utils.mobile-l {
		display: none;
	}
}

.burger {
	display: none;

	@include utils.mobile-l {
		display: block;
	}
}

.menu {
	height: 100%;
	padding: 10px 0;

	&-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 100%;
		padding: 75px 0;
	}

	&-logo {
		margin-bottom: 54px;
	}

	&-navigation {
		margin-bottom: 20px;
	}

	&-close {
		position: absolute;
		bottom: 0;
	}
}
