@use '@styles/utils';

.aside {
	@include utils.tablet-m {
		display: none;
	}
}

.sidebar {
	display: grid;
	column-gap: 32px;
	grid-template-columns: 342px 1fr;

	@include utils.tablet-l {
		grid-template-columns: 285px 1fr;
	}

	@include utils.tablet-m {
		grid-template-columns: 1fr;
	}

	&_reverse .aside {
		order: -1;
	}
}

.title {
	margin-bottom: 32px;
}
