@use '../../styles/utils';

.item {
	flex: 1 0 calc((100% - (var(--column-gap) * var(--columns))) / var(--columns));
}

.list {
	--columns: 3;
	--column-gap: 32px;

	position: relative;
	z-index: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 48px var(--column-gap);

	@include utils.tablet-l {
		--columns: 2;
		--column-gap: 16px;

		row-gap: 24px;
	}

	@include utils.mobile-l {
		--columns: 1;

		row-gap: 16px;
	}

	&_vertical {
		row-gap: 32px;
	}

	&_vertical .item {
		flex: 0 0 100%;
	}
}
