@use '../../styles/utils';
@use '../../styles/shared/spinner';

.list {
	--columns: 3;

	position: relative;
	z-index: 0;
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	gap: 48px 32px;

	@include utils.tablet-l {
		--columns: 2;

		gap: 24px 16px;
	}

	@include utils.mobile-l {
		--columns: 1;

		row-gap: 16px;
	}

	&_vertical {
		--columns: 1;

		row-gap: 32px;
	}

	&_stretch-last:not(&_vertical) .item:last-child {
		@include utils.tablet-l {
			grid-column: 1 / 3;
		}

		@include utils.mobile-l {
			grid-column: 1;
		}
	}
}

.overlay {
	@include utils.base-animation(opacity);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgb(var(--color-background-primary));
	opacity: 0;
}

.posts {
	position: relative;

	&_is-animation-posts .overlay {
		opacity: 0.3;
	}
}

.spinner-wrapper {
	display: flex;
	justify-content: center;
	margin: 100px 0;
}

.spinner {
	@include spinner.base(35px);

	color: rgb(var(--color-accent));
}
