@use '../utils';

.container {
	margin: 0 auto;
	padding: 0 var(--container-padding-x);
	max-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
	width: 100%;
}

.container-full {
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.date {
	font-size: 14px;
	line-height: 1.42;
	font-weight: 600;
	color: rgb(var(--color-accent));
}

.main {
	padding-top: var(--header-height);
}

.section {
	padding: var(--section-padding-y) 0;
}

.link {
	@include utils.base-animation(color);

	text-decoration: underline;
	text-decoration-skip-ink: none;

	@include utils.hover {
		text-decoration: none;
		color: rgb(var(--color-accent));
	}
}

.h2,
.h3,
.h4 {
	line-height: 1.33;
	font-weight: 600;
}

.h1 {
	font-size: 36px;
	font-weight: 700;

	@include utils.tablet-m {
		font-size: 32px;
	}
}

.h2 {
	font-size: 24px;
}

.h3 {
	font-size: 24px;
}

.h4 {
	font-size: 18px;
}
