@use '../utils';

.container {
	margin: 0 auto;
	padding: 0 var(--container-padding-x);
	max-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
	width: 100%;
}

.container-full {
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section {
	padding: var(--section-padding-y) 0;

	@include utils.tablet-l {
		padding-bottom: 0;

		&:last-child {
			padding-bottom: calc(var(--section-padding-y) * 2);
		}
	}
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.main {
	padding-top: var(--header-height);
}

.h2,
.h3,
.h4 {
	line-height: 1.33;
	font-weight: 600;
}

.h2 {
	font-size: 24px;
}

.h3 {
	font-size: 24px;
}

.h4 {
	font-size: 18px;
}
