@use '@styles/utils';

:root {
	--container-width: 1216px;
	--container-padding-x: 32px;
	--section-padding-y: 30px;
	--header-height: 100px;

	// font

	--font-base: 'Inter', sans-serif;

	// highlight-text

	--color-highlight-text-first: 2, 106, 162;
	--color-highlight-text-second: 193, 21, 116;
	--color-highlight-text-third: 2, 122, 72;
	--color-highlight-text-fourth: 105, 65, 198;
	--color-highlight-text-fifth: 53, 56, 205;
	--color-highlight-text-sixth: 54, 63, 114;
	--color-highlight-text-seventh: 196, 50, 10;
	--color-highlight-text-eighth: 192, 16, 72;

	// highlight-background

	--color-highlight-background-first: 240, 249, 255;
	--color-highlight-background-second: 253, 242, 250;
	--color-highlight-background-third: 236, 253, 243;
	--color-highlight-background-fourth: 249, 245, 255;
	--color-highlight-background-fifth: 238, 244, 255;
	--color-highlight-background-sixth: 248, 249, 252;
	--color-highlight-background-seventh: 255, 246, 237;
	--color-highlight-background-eighth: 255, 241, 243;

	// common colors

	--color-accent-primary: 105 65 198;
	--color-accent-secondary: 17 34 17;
	--color-background-accent-primary: 127, 86, 217;
	--color-accent-light-secondary: 249, 245, 255;
	--color-text-contrast: 255, 255, 255;
	--color-error: 200, 0, 3;
	--color-border-primary: 208, 213, 221;
	--color-contrast-primary: 0, 0, 0;

	// light colors

	--color-background-primary-light: 255, 255, 255;
	--color-background-secondary-light: 244, 244, 244;
	--color-background-tertiary-light: 234, 234, 234;
	--color-text-primary-light: 26, 26, 26;
	--color-text-secondary-light: 102, 112, 133;
	--color-text-tertiary-light: 102, 112, 133;
	--color-border-secondary-light: 234, 236, 240;
	--color-border-tertiary-light: 168, 168, 168;
	--color-skeleton-light: 241, 241, 241;
	--color-skeleton-highlight-light: 247, 247, 247;

	// dark colors

	--color-background-primary-dark: 9, 13, 31;
	--color-background-secondary-dark: 33 37 56;
	--color-background-tertiary-dark: 210, 210, 210;
	--color-text-primary-dark: 255, 255, 255;
	--color-text-secondary-dark: 192, 197, 208;
	--color-text-tertiary-dark: 239, 239, 239;
	--color-border-secondary-dark: 86, 89, 102;
	--color-border-tertiary-dark: 255, 255, 255;
	--color-skeleton-dark: 34, 38, 58;
	--color-skeleton-highlight-dark: 47, 47, 73;

	@include utils.tablet-l {
		--header-height: 80px;
	}

	@include utils.mobile-l {
		--header-height: 72px;
	}

	@include utils.mobile-m {
		--container-padding-x: 15px;
	}
}

@mixin light-variables {
	--color-background-primary: var(--color-background-primary-light);
	--color-background-secondary: var(--color-background-secondary-light);
	--color-background-tertiary: var(--color-background-tertiary-light);
	--color-text-primary: var(--color-text-primary-light);
	--color-text-secondary: var(--color-text-secondary-light);
	--color-text-tertiary: var(--color-text-tertiary-light);
	--color-border-secondary: var(--color-border-secondary-light);
	--color-border-tertiary: var(--color-border-tertiary-light);
	--color-skeleton: var(--color-skeleton-light);
	--color-skeleton-highlight: var(--color-skeleton-highlight-light);
}

@mixin dark-variables {
	--color-background-primary: var(--color-background-primary-dark);
	--color-background-secondary: var(--color-background-secondary-dark);
	--color-background-tertiary: var(--color-background-tertiary-dark);
	--color-text-primary: var(--color-text-primary-dark);
	--color-text-secondary: var(--color-text-secondary-dark);
	--color-text-tertiary: var(--color-text-tertiary-dark);
	--color-border-secondary: var(--color-border-secondary-dark);
	--color-border-tertiary: var(--color-border-tertiary-dark);
	--color-skeleton: var(--color-skeleton-dark);
	--color-skeleton-highlight: var(--color-skeleton-highlight-dark);
}

html[data-theme='light'] {
	@include light-variables;
}

@media (prefers-color-scheme: light) {
	html:not([data-theme]) {
		@include light-variables;
	}
}

html[data-theme='dark'] {
	@include dark-variables;
}

@media (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		@include dark-variables;
	}
}
