@use '../utils';

:root {
	--container-width: 1216px;
	--container-padding-x: 32px;
	--section-padding-y: 30px;
	--header-height: 100px;

	// font

	--font-base: 'Inter', sans-serif;

	// theme

	--color-background-primary: 255, 255, 255;
	--color-background-secondary: 248, 249, 252;
	--color-text-primary: 26, 26, 26;
	--color-text-secondary: 102, 112, 133;
	--color-accent: 105 65 198;
	--color-background-primary-other-theme: 9, 13, 31;
	--color-contrast-primary: 0, 0, 0;

	@include utils.tablet-l {
		--header-height: 80px;
	}

	@include utils.mobile-l {
		--header-height: 72px;
	}
}
